@keyframes enter-circle-border {
  from {
    opacity: 0;
    stroke-dashoffset: 3062;
  }
  to {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}
@keyframes second-dial-in {
  from {
    stroke-dashoffset: 436;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes hour-dial-in {
  from {
    stroke-dashoffset: 350;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes enter-circle-center {
  from {
    stroke-dashoffset: 251;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes enter-clock {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes opacity-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dials-in {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
svg.clock {
  filter: blur(0.1px);
  width: 500px;
  height: 500px;
}
svg.clock circle {
  fill: #FFF;
}
svg.clock circle.border {
  opacity: 0;
  animation: enter-clock 500ms forwards, enter-circle-border 750ms 1500ms forwards;
  stroke: #000;
  stroke-dasharray: 3062;
  stroke-dashoffset: 3062;
}
svg.clock circle.center {
  animation: enter-circle-center 750ms 0ms forwards;
  transform-origin: 50% 50%;
  fill: #FFF;
  stroke: #A00;
  stroke-width: 20px;
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
}
svg.clock polygon.hourline:not(:nth-of-type(2n)) {
  display: none;
}
svg.clock line.hourline {
  transition: transform 500ms 250ms, opacity 500ms 250ms;
  transform: rotate(0deg);
  opacity: 0;
  stroke: #000;
  stroke-width: 25px;
}
svg.clock line.hourline.hour-0 {
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  opacity: 1;
}
svg.clock line.hourline.hour-1 {
  transform-origin: 50% 50%;
  transform: rotate(30deg);
  opacity: 1;
}
svg.clock line.hourline.hour-2 {
  transform-origin: 50% 50%;
  transform: rotate(60deg);
  opacity: 1;
}
svg.clock line.hourline.hour-3 {
  transform-origin: 50% 50%;
  transform: rotate(90deg);
  opacity: 1;
}
svg.clock line.hourline.hour-4 {
  transform-origin: 50% 50%;
  transform: rotate(120deg);
  opacity: 1;
}
svg.clock line.hourline.hour-5 {
  transform-origin: 50% 50%;
  transform: rotate(150deg);
  opacity: 1;
}
svg.clock line.hourline.hour-6 {
  transform-origin: 50% 50%;
  transform: rotate(180deg);
  opacity: 1;
}
svg.clock line.hourline.hour-7 {
  transform-origin: 50% 50%;
  transform: rotate(210deg);
  opacity: 1;
}
svg.clock line.hourline.hour-8 {
  transform-origin: 50% 50%;
  transform: rotate(240deg);
  opacity: 1;
}
svg.clock line.hourline.hour-9 {
  transform-origin: 50% 50%;
  transform: rotate(270deg);
  opacity: 1;
}
svg.clock line.hourline.hour-10 {
  transform-origin: 50% 50%;
  transform: rotate(300deg);
  opacity: 1;
}
svg.clock line.hourline.hour-11 {
  transform-origin: 50% 50%;
  transform: rotate(330deg);
  opacity: 1;
}
svg.clock line.dial {
  fill: #000;
  transform-origin: 50% 50%;
  transition: transform 500ms;
}
svg.clock line.dial.second {
  animation: second-dial-in 750ms 1000ms forwards;
  stroke: #A00;
  stroke-width: 15px;
  stroke-dasharray: 436;
  stroke-dashoffset: 436;
}
svg.clock line.dial.minute {
  animation: second-dial-in 750ms 875ms forwards;
  stroke: #000;
  stroke-width: 20px;
  stroke-dasharray: 436;
  stroke-dashoffset: 436;
}
svg.clock line.dial.hour {
  animation: hour-dial-in 750ms 750ms forwards;
  stroke: #000;
  stroke-width: 20px;
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
}
